@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Open Sans", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.message {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.5;
	border: 1px solid #000;
	padding: 100px;
	border-radius: 20px;
}

.root {
	position: relative;
}

.leftChild {
	position: absolute;
	left: -100px;
}

.rightChild {
	position: absolute;
	right: -100px;
}

.rightChild::after {
	content: "";
	background-color: #000;
	position: absolute;
	top: -33px;
	left: -23px;
	transform: rotate(-52deg);
	width: 2px;
	height: 62px;
}

.leftChild::after {
	content: "";
	background-color: #000;
	position: absolute;
	top: -33px;
	right: -23px;
	transform: rotate(52deg);
	width: 2px;
	height: 62px;
}

.node {
	text-align: center;
	width: 60px;
	height: 60px;
	padding: 15px;
	margin-top: 30px;
	border: 1px solid #000;
	border-radius: 50%;
}
